<h2 class = "edit_profile">プロフィール編集ページ</h2>

<%= form_with model: current_user,url: users_profile_path, method: "PUT"  do |f| %>
  <%= render "devise/shared/error_messages", resource: current_user %>

 <div class="form_group">
   <div class="field">
    <%= f.label :画像 %>
    <%= f.file_field :image, autofocus: true %>
   </div>


   <div class="field">
     <%= f.label :名前 %>
     <%= f.text_field :name, autofocus: true %>
   </div> 

   <div class="field">
    <%= f.label :自己紹介 %>
    <%= f.text_area :profile, autofocus: true %>
   </div>

  

   <div class="actions">
     <%= f.submit "保存" %>
   </div>
  </div>
<% end %>

<%= link_to "アカウントページに戻る", :back %>
