<!doctype html>

<html lang="ja">

<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div class = "main">
 
       <p class="title">Potepan Shareで<br>まだ体験したことのない<br>旅をしよう</p>

    <div class="discover">
      <%= form_with url: search_rooms_path, method: :get, local: true do |f| %>
        <p class = "area"><%= f.text_field :address, :placeholder => "エリア名を入力"%></p>
          <p class = "search"><%= f.submit :検索 %></p>
      <% end %>
    </div>
  </div>
    <div class = "container">
  <h3>おすすめエリア</h3>
  <table>
  <tr>
    <th>東京</th>
    <th>大阪</th>
    <th>京都</th>
    <th>札幌</th>
  </tr>
  <tr>
    <td><%= link_to image_tag("tokyo.jpg",  class: 'card-img-top',width: '300', height: '200'), search_rooms_path(address: "東京") %></td>
    <td><%= link_to image_tag("osaka.jpg",  class: 'card-img-top',width: '300', height: '200'), search_rooms_path(address: "大阪") %></td>
    <td><%= link_to image_tag("kyoto.jpg",  class: 'card-img-top',width: '300', height: '200'), search_rooms_path(address: "京都") %></td>
    <td><%= link_to image_tag("sapporo.jpg",  class: 'card-img-top',width: '300', height: '200'), search_rooms_path(address: "札幌") %></td>
  </tr> 
</table>
</div>
  </body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  