<div class ="search">
  <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |f|%>
    <table class ="totle">
      <td class="form"><%= f.search_field :address, placeholder: "エリア入力" %></td>
    </tr>

    <tr>
    <td><%= f.search_field :keyword, placeholder: "キーワード入力" %></td>
    </tr>

    <tr>
    <td><%= f.submit :検索, placeholder: "検索" %></td>
    </tr>
    </table>
</div>
<% end %>

<p><%= "#{@rooms.count}件が見つかりました。" %></p>
<% @rooms.each do |room| %>
  <table class = "side">
   <tr>
   <td>画像</td>
     <td>
      <%= image_tag room.image.url, class: 'card-img-top',width: '300', height: '200' %>
     </td>
    </tr>
    <tr>
      <td>施設名</td>
      <td><%= link_to "#{room.facility_name}", room_path(room)  %></td>
    </tr>
    <tr>
      <td>施設紹介</td>
      <td><%= room.introduction %></td>
    </tr>
    <tr>
      <td>料金</td>
      <td>¥<%= room.price %>円</td>
    </tr>
    <tr>
      <td>作成日</td>
      <td><%= room.address %></td>
    </tr>
    <tr>
      <td>作成日</td>
      <td><%= room.created_at.strftime("%F %R") %></td>
    </tr>
  </table>
  <p>-------------------------------------------------</p>
<% end %>
